// app global css in SCSS form
.page-bg{

  background-color: #121212;
}
.calendar-header{
  margin-top: 2rem;
}


.grid-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
